<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>首页</string>
		<key>image</key>
		<string>tab_home</string>
		<key>imageSelected</key>
		<string>tab_home_h</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发现</string>
		<key>image</key>
		<string>tab_search</string>
		<key>imageSelected</key>
		<string>tab_search_h</string>
	</dict>
	<dict>
		<key>title</key>
		<string>购买</string>
		<key>image</key>
		<string>tab_store</string>
		<key>imageSelected</key>
		<string>tab_store_h</string>
	</dict>
	<dict>
		<key>title</key>
		<string>消息</string>
		<key>image</key>
		<string>tab_msn</string>
		<key>imageSelected</key>
		<string>tab_msn_h</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我</string>
		<key>image</key>
		<string>tab_me</string>
		<key>imageSelected</key>
		<string>tab_me_h</string>
	</dict>
</array>
</plist>
